# Pandas

Your function is called scoring. The input to your function is one dataframe.

Case:

You are a teacher maintaining a table of your students' scores on multiple subjects. You want to aggregate per each subject, and see the minimum, average, and maximum score of that subject.

In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.DataFrame({
    'Subject':['History', 'History', 'History', 'History', 'Sports', 'Sports', 'Sports', 'Sports', 'Sports'],
    'Student':['Zeke', 'Reiner', 'Pieck', 'Porco', 'Armin', 'Floch', 'Sasha', 'Mikasa', 'Falco'],
    'Score':[100,80,90,75,50,80,70,100,60]
})

df

   Subject Student  Score
0  History    Zeke    100
1  History  Reiner     80
2  History   Pieck     90
3  History   Porco     75
4   Sports   Armin     50
5   Sports   Floch     80
6   Sports   Sasha     70
7   Sports  Mikasa    100
8   Sports   Falco     60

In [30]:
def scoring(df):
    cek = df.groupby("Subject").agg(
    Min_score=pd.NamedAgg(column="Score", aggfunc="min"),
    Avg_score=pd.NamedAgg(column="Score", aggfunc="mean"),
    Max_score=pd.NamedAgg(column="Score", aggfunc="max")).reset_index()
    return cek

In [31]:
scoring(df)

   Subject  Min_score  Avg_score  Max_score
0  History         75      86.25        100
1   Sports         50      72.00        100